*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    

}
body{
    background: black;
    color: white;
}

.banner
{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
}
.banner .myvideo
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 117vh;
    object-fit: cover;
    opacity: 0.24;
    background-size: cover;
    justify-content: center;
}
.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    max-height: 599px;
    flex-wrap: wrap;
}
.about h1
{
    padding: 10px 0px;
}
.about p
{
    letter-spacing: 2px;
    margin:15px 0px;
}

/* .picture
{
    display:flex; */
    /* border: 1px solid white; */
    /* float: right; */
    /* align-items: center;
    flex-wrap: wrap;
} */
.image
{
    height: 501px;
    width: 487px;
    border-radius: 265px;
    padding: 19px;
}

.btn
{
    padding: 13px 24px;
    background: black;
    color: white;
    outline: none;
    font-size: 20px;
    display: flex;
    border-top:2px solid #FDC7D7;
    border-right:2px solid #FF9DE6;
    border-bottom:2px solid #A5D8F3;
    border-left:2px solid #E8E500;    
    flex-wrap: wrap;
    margin: 23px 230px;
    border-radius: 4px;
    
}
.btn:hover{
    /* font-size: 22px; */
    /* padding:17px 28px; */
    border:3px solid #070707;
    transition-duration: 2s;
    transform: rotate(25deg);
    box-shadow:4px 4px 7px #ffea00,10px 8px 10px  #ff7b00;
    text-shadow: 2.5px 3px 1px #e71c1c; 
    letter-spacing: 2px;
    
}